:root {
    --dark-blue: #576370;
    --gold: #f1ab29;
    --wheat: #f5deb3;
}

* {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

body {
    background: var(--wheat);
}

p {
    margin: 0;
    padding: 0;
}

/* NAVBAR */
nav {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding: 20px 0px;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

nav>ul>li {
    display: inline-block;
    /* float: left; */
}

nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: rgba(87, 99, 112, 0.5);
    padding: 14px 14px;
    text-decoration: underline rgba(87, 99, 112, 0);
    transition: text-decoration 1s ease-out;
}

nav>ul>li>a:hover {
    /* background-color: rgba(87, 99, 112, 0.5); */
    font-weight: 600;
    color: var(--dark-blue);
    text-decoration: underline 4px var(--gold);
    transform: scaleX(1);
}

/* END NAVBAR */

/* HEADER */

.hero {
    background-color: var(--wheat);
    padding: 5rem 1rem 0.25rem;
    padding-bottom: 100px;
    color: var(--dark-blue);
    /* padding-bottom: 100px; */
}

.hero>h1 {
    font-size: calc(1rem + 5vw);
    padding-left: 1rem;
    margin-bottom: -0.25em;
    z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    text-shadow: 5px 5px 5px #383e44;
    transform: translate(-50%, -50%);
}

.hero>div>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    grid-gap: 0.25vmin;
    grid-template-columns: repeat(auto-fill, minmax(25vmin, auto));
}

.hero>div>ul>li {
    padding-top: 10px;
}

.hero>div>ul>li:nth-child(1) {
    grid-column-start: 2;
}

.hero>div>ul>li>a>img {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    width: 150px;
    height: 150px;
    max-height: 20vh;
    filter: blur(2px) grayscale(20%);
    transition: all 200ms;
}

.hero>div>ul>li>a {
    overflow: hidden;
    display: grid;
    grid-template-areas: cell;
    place-items: end;
    position: relative;
    transition: box-shadow 180ms;
    text-decoration: none;
}

.hero>div>ul>li>a>img {
    grid-area: cell;
}


.hero>div>ul>li>a,
.hero>div>ul>li>a:before {
    border-radius: 4px;
}

.hero>div>ul>li>a:before {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    bottom: -3px;
    left: -3px;
    z-index: 1;
    box-shadow: inset 0 0 200px var(--wheat);
    transition: box-shadow 200ms ease-in;
}

.hero>div>ul>li>a:hover>img,
.hero>div>ul>li>a:focus>img {
    filter: none;
}


.hero>div>ul>li>a:hover::before,
.hero>div>ul>li>a:focus::before {
    box-shadow: inset 0 0 30px var(--wheat);
}

.hero>div>ul>li>a:focus {
    outline: none;
    box-shadow: 0 0 0 3px #fff;
}

/* END HEADER */

.wrapper {
    height: 100%;
    width: 100%;
    height: 100vh;
    margin: 300px 0;
}

.blog_post {
    position: relative;
    padding: 100px 0px 50px 100px;
    margin: 100px 0;
    background: #fff;
    max-width: 1000px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

.img_pod {
    height: 150px;
    width: 150px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: -1;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -50px;
    top: 10px;
    transform: translateY(-50%);
    object-fit: cover;
}

.img-profile {
    height: 130px;
    width: 130px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    object-fit: cover;
}

h3 {
    margin: 0 0 0.5rem 0;
    color: #999;
    font-size: 1.25rem;
}

h1 {
    margin: 0 0 1rem 0;
    font-size: 2.5rem;
    letter-spacing: 0.5px;
    color: var(--dark-blue);
}

p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.icon {
    width: 30px;
    height: 30px;
    text-align: left;
}


/* SKILL */
.skill {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1vh;
}

.skill-progress {
    float: left;
    width: 100%;
    align-content: center;
}

.skill-progress>p {
    float: left;
    width: 25%;
    align-content: center;
    padding: 3px 0px;
    margin: 0;
}

.progress {
    background: rgba(245, 222, 179, 1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 20px;
    width: 200px;
}

.progress-value-10 {
    animation: load-10 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--dark-blue);
    border-radius: 100px;
    background: var(--dark-blue);
    height: 10px;
    width: 0;
}

.progress-value-20 {
    animation: load-20 3s normal forwards;
    box-shadow: 0 10px 40px -10px red;
    border-radius: 100px;
    background: red;
    height: 10px;
    width: 0;
}

.progress-value-30 {
    animation: load-30 3s normal forwards;
    box-shadow: 0 10px 40px -10px red;
    border-radius: 100px;
    background: red;
    height: 10px;
    width: 0;
}

.progress-value-40 {
    animation: load-40 3s normal forwards;
    box-shadow: 0 10px 40px -10px red;
    border-radius: 100px;
    background: red;
    height: 10px;
    width: 0;
}

.progress-value-50 {
    animation: load-50 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--gold);
    border-radius: 100px;
    background: var(--gold);
    height: 10px;
    width: 0;
}

.progress-value-60 {
    animation: load-60 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--gold);
    border-radius: 100px;
    background: var(--gold);
    height: 10px;
    width: 0;
}

.progress-value-70 {
    animation: load-70 3s normal forwards;
    box-shadow: 0 10px 40px -10px var(--gold);
    border-radius: 100px;
    background: var(--gold);
    height: 10px;
    width: 0;
}

.progress-value-80 {
    animation: load-80 3s normal forwards;
    box-shadow: 0 10px 40px -10px limegreen;
    border-radius: 100px;
    background: limegreen;
    height: 10px;
    width: 0;
}

.progress-value-90 {
    animation: load-90 3s normal forwards;
    box-shadow: 0 10px 40px -10px limegreen;
    border-radius: 100px;
    background: limegreen;
    height: 10px;
    width: 0;
}

.progress-value-100 {
    animation: load-100 3s normal forwards;
    box-shadow: 0 10px 40px -10px limegreen;
    border-radius: 100px;
    background: limegreen;
    height: 10px;
    width: 0;
}

@keyframes load-10 {
    0% {
        width: 0;
    }

    100% {
        width: 10%;
    }
}

@keyframes load-20 {
    0% {
        width: 0;
    }

    100% {
        width: 20%;
    }
}

@keyframes load-30 {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}

@keyframes load-40 {
    0% {
        width: 0;
    }

    100% {
        width: 40%;
    }
}

@keyframes load-50 {
    0% {
        width: 0;
    }

    100% {
        width: 50%;
    }
}

@keyframes load-60 {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes load-70 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

@keyframes load-80 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes load-90 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes load-100 {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

/* EDUCATION BACKGROUND */
.container {
    width: 100%;
    margin: auto;
}

.timeline {
    counter-reset: test 2011;
    position: relative;
}

.timeline>li {
    list-style: none;
    float: left;
    width: 33.3333%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

ul:nth-child(1) {
    color: var(--dark-blue);
}

.timeline>li:before {
    counter-increment: test+3;
    content: counter(test);
    width: 50px;
    height: 50px;
    border: 3px solid var(--gold);
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #fff;
    /* color: var(--dark-blue); */
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.timeline>li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--gold);
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.timeline>li:first-child:after {
    content: none;
}

.experience>ul>li {
    list-style: none;
    align-content: center;
    padding: 2px 0;
    margin: 0;
    font-size: 1.1rem;
    color: #333;
}